<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
      <h1>Plans tonight?</h1>
      <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
      <i class="fa fa-taxi fa-5x" aria-hidden="true"></i>
      <i class="fa fa-glass fa-5x" aria-hidden="true"></i>
      <h2>
        See which bars are hoppin' tonight and RSVP ahead of time! <br />
        Remember: take a cab and drink responsibly. <br />
        Powered by the Yelp API!
      </h2>
      <form action="/search" method="get">
        <input type="text" name="location" placeholder="Your location" required>
        <button type="submit">Check it out</button>
      </form>
      <ul id="resultsList">
        <% for (var i=0; i<businesses.length; i++) { %>
          <li>
            <img src="<%= businesses[i].image_url %>" alt="<%= businesses[i].name %>">
            <div class="barInfo">
              <header>
                <h3><%= businesses[i].name %></h4>
                <a class="btn <% if (businesses[i].meGoing) {%> going<%}%>" href="/attend/<%= businesses[i].id %>"><%= businesses[i].going.length %> going</a>
              </header>
              <div class="barDetails">
                <span class="rating">
                  <% for (var j=1; j<=5; j++) { %>
                    <% if (j < businesses[i].rating) { %>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    <% } else if (j - 0.5 === businesses[i].rating){ %>
                      <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <% } else { %>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    <% } %>
                  <% } %><br class="lg-hide"/>
                (<%= businesses[i].review_count %> reviews)</span>
                <span class="price"><%= businesses[i].price %></span>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
